h1 {
margin-top: 5%;
}

.SomeContainer {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.contact_form_container{
width: 24rem;
height: 100%;
text-align: center; 
margin-top: 2%;
display: flex;
flex-flow: column;
}
